/*stylesheet for Meeting record*/
@font-face {
    font-family: 'Nova Square', cursive;
    src: url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
}
body {
    font-size: 1.2em;
    background-color: burlywood;
}

* {
    font-family: 'Nova Square', cursive;
}

#attendees {
    color: black;
    background-color: rgba(100,200,100,200);
    border: 1px solid #FF800f ;
}

.paragraph {
    font-family: 'Times New Roman', Times, serif;
}

.paragraph.long {
    color: hsl(240,100%,100%)
    
}

.box {
    border-color:rebeccapurple;
    border-style: solid;
    border-width: 0.2in;
    border-radius: 1cm;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.inbox {
    margin: 1em 1em 1em 1em;
    text-align:center;
}

.title {
    margin:auto;
}

.px {
    width: 200px;
}

#foot h4 {
    font-size: 3ex
}

div > h2 {
    color:chocolate;
}

#agendaitem ~ li {
    color:darkgreen;
}

#attendeeitem + li {
    color:dodgerblue;
}

.adaptive {
    font-size:1.3vh;
    padding-top:1vh;
    padding-left: 1.2vh;
    padding-right: 1.2vh;
    padding-bottom: .5vh;
    display: inline;
}

a[href="https://www.in.gov/idem/"] {
    padding: .5em .5em .5em .5em;
    text-decoration: wavy underline;
    display: inline-block;
}

@media (min-width: 35rem) {
    p:hover{
        color: blueviolet;
    }
    
}

@media (max-width: 50rem) {
    p:active{
        color:white;
    }
    
}

h1,h2 {
    height: 3em;
    max-width:5em;
    min-width:.5em;
    position:static;
}

#top {
    text-align:right;
    position:sticky;
    bottom:0.5em;
    margin: 1em;
}

.flex {
    display:flex;
    flex-direction: ltr;
    justify-content: flex-start;
    flex-grow:1;

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 50px;
}

/*
.grid.item1 {
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
}

.item2 {
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
}
*/